*{
    box-sizing: border-box;
}
body{
    width: 300px;
    height: 240px;
    color: white;
    background-color: black;
}
a{
    font-size: 10px;
}
#titulo{
    width: 300px;
    height: 15px;
}
#titulo img{
    width: 150px;
    font-style: italic;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 70px;
    text-align: center
}
#selecioneTipo{
    margin-top: 40px;
    width: 300px;
}
#selecioneTipo p{
    color: #000;
    font-size: 14px;
    text-align: center;
}
#botaoTritanopia{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 243px;
    background-color: #333333;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}
#botaoTritanopia:hover{
    transform: scale(1.02);
}
#botaoDeuteranopia{
    margin-left: 25px;
    margin-top: 10px;
    width: 243px;
    background-color: #333333;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
#botaoDeuteranopia:hover{
    transform: scale(1.02);
}
#botaoProtanopia{
    margin-left: 25px;
    margin-top: 10px;
    width: 243px;
    background-color: #333333;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
#botaoProtanopia:hover{
    transform: scale(1.02);
}
.botaoTexto{
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    margin: 2px;
}
#quadradinhoP{
    margin-top: -22px;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 0.5px solid #000;
    background: #A41919;
    float: right;
}
#quadradinhoD{
    margin-top: -22px;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 0.5px solid #000;
    background: green;
    float: right;
}
#quadradinhoT{
    margin-top: -22px;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 0.5px solid #000;
    background: rgb(191, 191, 199);
    float: right;
}
#quadradinhoT p{
    margin-top: -1px;
    margin-left: 5px;
}
a{
    margin-left: 120px;
    margin-top: 10px;
}